In [1]:
import seaborn as sns

tips = sns.load_dataset('tips')

In [2]:
from De_OH_Encoder import *

In [3]:
tips["Car_Class"]=["A" if x<10 else "B" for x in tips["total_bill"]]
tips_OH=pd.get_dummies(tips,drop_first=True)

In [5]:
DeOneHotEncode(tips_OH)

     total_bill   tip  size    time  smoker         sex  day Car_Class
0         16.99  1.01     2  Dinner      No      Female  Sun         B
1         10.34  1.66     3  Dinner      No  not Female  Sun         B
2         21.01  3.50     3  Dinner      No  not Female  Sun         B
3         23.68  3.31     2  Dinner      No  not Female  Sun         B
4         24.59  3.61     4  Dinner      No      Female  Sun         B
..          ...   ...   ...     ...     ...         ...  ...       ...
239       29.03  5.92     3  Dinner      No  not Female  Sat         B
240       27.18  2.00     2  Dinner  not No      Female  Sat         B
241       22.67  2.00     2  Dinner  not No  not Female  Sat         B
242       17.82  1.75     2  Dinner      No  not Female  Sat         B
243       18.78  3.00     2  Dinner      No      Female              B

[244 rows x 8 columns]

In [8]:
import seaborn as sns

# Load the 'flights' dataset
diamonds = sns.load_dataset('diamonds')

In [9]:
diamonds2=diamonds.copy()
# Add 10 additional categorical columns
for i in range(1, 11):
    # Generate random categorical data for simplicity
    categories = ['A', 'B', 'C', 'D', 'E']
    diamonds2[f'cat_column_{i}'] = np.random.choice(categories, size=diamonds2.shape[0])

In [10]:
diamonds2_OH=pd.get_dummies(diamonds2)

In [13]:
DeOneHotEncode(diamonds2_OH)

,carat,depth,table,price,x,y,z,cat_column_8,cut,color,clarity,cat_column_9,cat_column_7,cat_column_6,cat_column_5,cat_column_4,cat_column_3,cat_column_2,cat_column_10,cat_column_1
0,0.23,61.5,55.0,326,3.95,3.98,2.43,B,Ideal,E,SI2,A,D,C,D,A,D,D,C,D
1,0.21,59.8,61.0,326,3.89,3.84,2.31,C,Premium,E,SI1,C,C,E,B,E,A,B,B,D
2,0.23,56.9,65.0,327,4.05,4.07,2.31,E,Good,E,VS1,A,E,C,E,C,E,D,B,C
3,0.29,62.4,58.0,334,4.20,4.23,2.63,D,Premium,I,VS2,B,E,D,D,D,E,D,B,C
4,0.31,63.3,58.0,335,4.34,4.35,2.75,D,Good,J,SI2,A,D,A,A,B,E,E,E,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,2757,5.75,5.76,3.50,E,Ideal,D,SI1,A,C,E,A,B,B,D,E,D
53936,0.72,63.1,55.0,2757,5.69,5.75,3.61,B,Good,D,SI1,B,C,A,D,E,A,B,D,D
53937,0.70,62.8,60.0,2757,5.66,5.68,3.56,E,Very Good,D,SI1,E,C,E,B,D,A,D,A,C
53938,0.86,61.0,58.0,2757,6.15,6.12,3.74,A,Premium,H,SI2,C,A,C,A,C,C,E,C,A
53939,0.75,62.2,55.0,2757,5.83,5.87,3.64,E,Ideal,D,SI2,B,B,A,C,E,A,D,E,D

In [24]:
np.sum(~diamonds2.eq(DeOneHotEncode(diamonds2_OH)))

carat            0
cat_column_1     0
cat_column_10    0
cat_column_2     0
cat_column_3     0
cat_column_4     0
cat_column_5     0
cat_column_6     0
cat_column_7     0
cat_column_8     0
cat_column_9     0
clarity          0
color            0
cut              0
depth            0
price            0
table            0
x                0
y                0
z                0
dtype: int64